[run]
source =
    kiss_headers
# Needed for Python 3.11 and lower
disable_warnings = no-sysmon

[paths]
source =
    src/kiss_headers
    */kiss_headers
    *\kiss_headers

[report]
exclude_lines =
    except ModuleNotFoundError:
    except ImportError:
    pass
    import
    raise NotImplementedError
    .* # Platform-specific.*
    .*:.* # Python \d.*
    .* # Abstract
    .* # Defensive:
    if (?:typing.)?TYPE_CHECKING:
    ^\s*?\.\.\.\s*$
